body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Oxygen', sans-serif;
}

code {
  font-family: 'Oxygen', sans-serif;
}

div.ui.fluid.selection.dropdown {
  width: 128px;
}

div.ui.container.index-container {
  width: 52% !important;
  height: 100%;
  overflow: scroll;
}

div#root {
  font-family: 'Oxygen', sans-serif;
}

div.ui.secondary.menu {
  font-family: 'Oxygen', sans-serif;
  font-weight: 200;
}

h1 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 200;
}

button.ui.button {
  font-family: 'Oxygen', sans-serif;
  font-weight: 200;
}

h1#yoga-cycle {
  font-size: 133px;
}

button.huge.ui.button {
  margin-top: 8%;
}
